<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="dale.js"></script>    
</head>
<body ng-app="sinllorar">
    <div ng-controller="mainController">
        <div>
            Iterations: <input type="number" name="" id="" ng-model="shuffle">
        </div>
        <br>
        <div>
            <input class="button button1" type="button" ng-click="roundFour()" value="4">
        </div>
        <br>
        <div>
            <table>
                <tbody>
                    <tr ng-repeat="k in a">
                        <td>{{k.chairo}}</td>
                        <td>{{k.equipo}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <div>
                <input class="button button2" type="button" ng-click="roundThree()" value="3">
            </div>
            <br>
            <div>
                <table>
                    <tbody>
                        <tr ng-repeat="k in b">
                            <td>{{k.chairo}}</td>
                            <td>{{k.equipo}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div>
            <div>
                <input class="button button5" type="button" ng-click="roundTwo()" value="2">
            </div>
            <br>
            <div>
                <table>
                    <tbody>
                        <tr ng-repeat="k in c">
                            <td>{{k.chairo}}</td>
                            <td>{{k.equipo}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div>
            <div>
                <input class="button button3" type="button" ng-click="roundOne()" value="1">
            </div>
            <br>
            <div>
                <table>
                    <tbody>
                        <tr ng-repeat="k in d">
                            <td>{{k.chairo}}</td>
                            <td>{{k.equipo}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>